@import "tailwindcss";
@import "tailwindcss-animated";


:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #000b14;
  color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --breakpoint-tablet: 940px;
}

.animated-border {
   background: linear-gradient(
    45deg,
    #0055ff, 
    #00eaff, 
    #0099ff,  
    #eeea0c,  
    #0055ff  
  );
  background-size: 400% 400%;
  animation: borderAnimation 6s ease infinite;
  z-index: 0;
  border-radius: 9999px;
}

@keyframes borderAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animated-text {
  background: linear-gradient(
    45deg,
    #0055ff,
    #00eaff,
    #0099ff,
    #6fd6ff,
    #0055ff
  );
  background-size: 400% 400%;
  animation: textGradient 6s ease infinite;
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}
.animated-text-yellow {
  background: linear-gradient(
    45deg,
    #fff7b3, 
    #ffd84d,
    #ffb800, 
    #ffe066, 
    #ffffff, 
    #ffd84d,
    #ffb800,
    #fff7b3
  );
  background-size: 400% 400%;
  animation: textGradient 6s ease infinite;
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}

@keyframes textGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.animated-text-gray {
  background: linear-gradient(
    10deg,
    #ffffff,
    #dcdcdc,
    #838383,
    #e6e6e6,
    #838383
  );
  background-size: 400% 400%;
  animation: textGradient 6s ease infinite;
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}

@keyframes textGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animated-text-purple {
  background: linear-gradient(
    45deg,
    #4b6cff,
    #8b5cf6,
    #6366f1,
    #3b82f6,
    #4b6cff
  );
  background-size: 400% 400%;
  animation: textGradient 6s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.animated-text-green {
  background: linear-gradient(
    45deg,
    #00c6ff,
    #00ff9d,
    #06b6d4,
    #10b981,
    #00c6ff
  );
  background-size: 400% 400%;
  animation: textGradient 6s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.animated-text-soft {
  background: linear-gradient(
    45deg,
    #003cff,
    #33ccff,
    #66e0ff,
    #b3f0ff,
    #003cff
  );
  background-size: 400% 400%;
  animation: textGradient 6s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.animated-text-magenta {
  background: linear-gradient(
    45deg,
    #0066ff,
    #ff4ff8,
    #7b2ff7,
    #3f37c9,
    #0066ff
  );
  background-size: 400% 400%;
  animation: textGradient 6s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}




.bg-effect {
  background: 
    radial-gradient(
      circle at 30% 40%,    
      rgba(82, 81, 165, 0.12),  
      rgba(0, 0, 0, 0) 70%        
    ),
    linear-gradient(
      to bottom,
      #000814,
      #00020f
    );
}
